.card-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    /* border: solid 2px orange; */
}

.card-perfil>.foto-perfil {
    width: 173px;
    height: 173px;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.2s;
}

.card-perfil>.foto-perfil:hover {
    transform: scale(1.03);
}

.card-perfil>.nome-perfil {
    font-size: 22px;
    color: #999999;
}